/****** MAIN CSS *****/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    outline: 0;
    background: transparent;
}

body {
    font-family: 'Titillium Web', sans-serif;
    line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

button {
    padding: 3px 10px;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

li {
    list-style: none;
}

img {
    display: block;
    margin: 0 auto;
}

h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.7em;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
}

h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.5em;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

h3 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

h4 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    line-height: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff;
}

p {
    font-size: 1.1em;
    font-weight: 400;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

a {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    text-decoration: none;
    color: #000;
    background-color: #ff9;
}

/* change colours to suit your needs */
mark {
    font-weight: bold;
    font-style: italic;
    color: #000;
    background-color: #ff9;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    cursor: help;
    border-bottom: 1px dotted;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    margin: 1em 0;
    padding: 0;
    border: 0;
    border-top: 1px solid #ccc;
}

input,
select {
    vertical-align: middle;
}

.cuda-line {
    width: 87px;
    height: 3px;
    margin: 0 auto 15px;
    opacity: .8;
    background: #cbd8df;
}

.cuda-button {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
    padding: 18px 95px;
    text-align: center;
    color: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid #c86a43;
    border-left: 0;
    background: #eb7d4d;
}

#cuda-back-top {
    font-size: 2em;
    position: fixed;
    z-index: 50;
    right: 20px;
    bottom: 20px;
    display: inline;
    width: 35px;
    height: 35px;
    color: rgba(0, 0, 0, .5);
    border: 4px solid transparent;
}

/* - Header
/*================================================*/
.cuda-headarea {
    padding-top: 55px;
}

.cuda-hbg {
    background: #87509c;
}

.cuda-logo {
    margin-top: -7px;
    margin-left: 30px;
}

/* - menu
===================================================*/
#cuda-header .cuda-menu .navbar-default {
    color: #fff;
    border: none;
    background: none;
}

#cuda-header .cuda-menu .navbar-nav > li {
    margin-right: 5px;
    margin-left: 5px;
}

#cuda-header .cuda-menu .nav li > a {
    padding: 7px 15px;
    color: #fff;
}

#cuda-header .cuda-menu .navbar-default .navbar-nav > .active > a,
#cuda-header .cuda-menu .navbar-default .navbar-nav > .active > a:hover,
#cuda-header .cuda-menu .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    border-radius: 4px;
    background-color: #643a79;
}

#cuda-header .cuda-menu .dropdown-menu > li > a:hover,
#cuda-header .cuda-menu .dropdown-menu > li > a:focus {
    color: #fff !important;
    background-color: #87509c;
}

#cuda-header .cuda-menu .dropdown-menu > li > a {
    color: #5e5e5e !important;
}

#cuda-header .cuda-menu .navbar-default .navbar-nav > .open > a,
#cuda-header .cuda-menu .navbar-default .navbar-nav > .open > a:hover,
#cuda-header .cuda-menu .navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background: #643a79;
}

#cuda-header .cuda-menu .navbar-default .navbar-nav > li > a:hover,
.cuda-menu .navbar-default .navbar-nav > li > a:active,
#cuda-header .cuda-menu .navbar-default .navbar-nav > li > a:hover,
.cuda-menu .navbar-default .navbar-nav > li > a.selected {
    color: #fff;
    border-radius: 4px;
    background: #643a79;
}

/*=======slug========*/
#cuda-header .cuda-slug {
    padding: 100px 0 100px 0;
}

#cuda-header .cuda-slug h1 {
    text-align: center;
}

#cuda-header .cuda-button {
    display: block;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 18px 105px;
    text-align: center;
    color: #fff;
    border-top: 0;
    border-right: 0;
    border-bottom: 5px solid #c86a43;
    border-left: 0;
    outline: none;
    background: #eb7d4d;
}

#cuda-header .cuda-button:hover {
    border-bottom-color: #07997f;
    background: #17c2a4;
}

/* - Section SERVICE
===============================*/
.cuda-service-bg {
    padding: 110px 0 110px 0;
    color: #fff;
    background: #17c2a4;
}

#cuda-service .cuda-item img {
    height: 124px;
    margin: 0 auto;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

#cuda-service .cuda-item img:hover {
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

#cuda-service .cuda-title {
    text-align: center;
}

#cuda-service .cuda-item {
    margin-bottom: 30px;
    padding: 60px 12px 12px 0;
    text-align: center;
}

#cuda-service .cuda-service-slug {
    text-align: center;
}

#cuda-service .cuda-item h3 {
    padding-top: 50px;
}

/* -TEAM 
===============================*/
.cuda-team-bg {
    padding: 110px 0 110px 0;
    text-align: center;
    color: #333;
    background: #e7f1f8;
}

#cuda-team .cuda-team-title {
    padding-top: 10px;
    padding-bottom: 50px;
}

#cuda-team .cuda-team-title h1 {
    color: #3c4761;
}

#cuda-team .cuda-team-item h3 {
    padding-top: 10px;
    padding-bottom: 0;
    color: #3c4761;
}

#cuda-team .cuda-team-item .img-circle {
    display: block;
    width: 10em;
    height: 10em;
    margin: auto;
    border-radius: 100%;
    background: #868686;
}

#cuda-team .cuda-team-slug p {
    color: #3c4761;
}

#cuda-team .cuda-team-item i {
    font-size: 11em;
    color: #878787;
}

#cuda-team .designation {
    padding-bottom: 10px;
    color: #30bae7;
}

#cuda-team .cuda-social i {
    font-size: .8em;
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 3px auto;
    padding: 10px;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    color: #fff;
    border-radius: 50%;
    background: #c2d0dd;
}

#cuda-team .cuda-social .fa-facebook:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #4c66a4;
}

#cuda-team .cuda-social .fa-twitter:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #2ca8d2;
}

#cuda-team .cuda-social .fa-linkedin:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #399bdc;
}

#cuda-team .cuda-social .fa-envelope:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    color: #fff;
    background: #738a8d;
}

.cuda-social {
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

/* -skill
================================ */
.cuda-skill-bg {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    color: #111;
}

#cuda-skill .cuda-line {
    background: #dfe8ed;
}

#cuda-skill .cuda-skill-title h1 {
    color: #3c4761;
}

#cuda-skill .cuda-skill-item {
    padding-top: 50px;
    padding-bottom: 30px;
}

#cuda-skill .cuda-skill-item img {
    width: 10em;
}

#cuda-skill .cuda-skill-item h3 {
    font-weight: 700;
    color: #3c4761;
}

.tw-circle-chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}

/* -Portfolio
================================ */
.cuda-portfolio-bg {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    background: #fd9;
}

#cuda-portfolio h1 {
    color: #393939;
}

#cuda-portfolio .cuda-line {
    background: #e5c37f;
}

.cuda-portfolio-isotop-menu {
    padding-top: 30px;
}

#cuda-portfolio .cuda-menu {
    display: inline-block;
    list-style: none;
}

#cuda-portfolio .cuda-menu li {
    float: left;
}

#cuda-portfolio .cuda-menu li {
    margin-right: 5px;
    padding: 2px 14px;
    text-transform: uppercase;
    color: #111;
    border-radius: 4px;
    background: #ebc985;
}

#cuda-portfolio .cuda-menu li.selected {
    background: #fff;
}

#cuda-portfolio .cuda-menu li:hover {
    text-decoration: none;
}

#cuda-portfolio .cuda-portfolio-item {
    position: relative;
    overflow: hidden;
    height: 750px;
    margin-top: 50px;
}

#cuda-portfolio .cuda-portfolio-item li {
    display: block;
    padding-bottom: 30px;
    color: #222;
}

#cuda-portfolio .cuda-portfolio-item h3 {
    font-weight: 300;
    color: #222;
}

#cuda-portfolio .cuda-button {
    color: #fff;
    border-bottom: 5px solid #14a58c;
    background: #17c2a4;
}

#cuda-portfolio .cuda-button:hover {
    border-bottom: 5px solid #4f076b;
    background: #87509c;
}

/* cuda-about-us
===========================================*/
.cuda-about-us-bg {
    padding-top: 110px;
    padding-bottom: 110px;
    text-align: center;
    background: #d74680;
}

#cuda-about-us .cuda-line {
    background: #b73c6d;
}

#cuda-about-us .cuda-about-us-slug p {
    color: #fff;
}

#cuda-about-us .cuda-us-item img {
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 100%;
    background: #787878;
}

#cuda-about-us .cuda-us-item {
    margin-top: 60px;
    text-align: left;
    color: #fff;
}

#cuda-about-us .cuda-us-item span {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 27px;
}

#cuda-about-us .cuda-us-item span.img-circle {
    display: block;
    width: 5em;
    height: 5em;
    margin: auto;
    border-radius: 100%;
    background: #868686;
}

#cuda-about-us .cuda-designation {
    margin-top: 17px;
}

#cuda-about-us .cuda-designation h3 {
    font-weight: 600;
    text-transform: uppercase;
}

#cuda-about-us .cuda-designation p {
    font-style: italic;
    color: #fd9;
}

#cuda-about-us .cuda-us-first-item,
#cuda-about-us .cuda-us-second-item,
#cuda-about-us .cuda-us-third-item,
#cuda-about-us .cuda-us-fourth-item {
    padding-bottom: 30px;
}

/*-TOUCH
============================================*/
.cuda-touch-bg {
    padding-top: 110px;
    padding-bottom: 100px;
    text-align: center;
    background: #3c5499;
}

#cuda-touch .cuda-touch-title .cuda-line {
    background: #273a71;
}

#cuda-touch .cuda-touch-slug {
    color: #fff;
}

#cuda-touch .cuda-touch-form {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 0;
}

#cuda-touch input {
    color: #fff;
    border: 0;
    background: #273a71;
}

#cuda-touch input:focus {
    box-shadow: none;
}

#cuda-touch .input-group {
    padding-bottom: 30px;
}

#cuda-touch textarea {
    font-size: .9em;
    width: 100%;
    padding: 5px;
    color: #fff;
    border: none;
    background: #273a71;
}

#cuda-touch textarea:focus {
    outline: none;
}

#cuda-touch .cuda-button {
    font-size: 1.1em;
    font-weight: 700;
    border-bottom-color: #2b9ec5;
    outline: none;
    background: #32bae7;
}

#cuda-touch .cuda-button:hover {
    border-color: #ccc;
    background: #fff;
}

/* - cuda-footer
================================================*/

.cuda-footer-bg {
    padding: 2em 0;
    text-align: center;
    border-top: 1px solid #4c68b9;
    background: #344b8e;
}

#cuda-footer .cuda-footer-menu li {
    display: inline-block;
    margin: 0 2em;
}

#cuda-footer .cuda-footer-menu li a {
    color: #fff;
}

#cuda-footer .cuda-footer-menu li a:hover {
    text-decoration: none;
    color: #30bae7;
}

/* - animation
========================================*/
